﻿
.flex-container {
    display: flex;
    align-items: flex-start;
    -webkit-flex-direction: row; /* Safari */
    flex-direction: row;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap: wrap;
}

.product-item .fa {
    font-size: 16px;
}

.product-item {
    display: inline-block;
    border: 1px solid gray;
    -ms-border-radius: 4px;
    border-radius: 4px;
    margin: 10px;
    width: 200px;
    height: 200px;
    position: relative;
}

.product-item .img {
    max-height: 160px;
}

.product-item.isSelected{
    background-color: #8ecfd0;
}

.product-item .header {
    font-weight: bold;
}

.product-item .content {
    padding: 10px;
}

.product-item .footer {
    background-color: #5c5858;
    color: #fff;
    padding: 8px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.loading {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-image: url('./images/ajax-loader.gif');
    background-repeat: no-repeat;
}